.leadership-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 5px auto;
}
.leadership-card-container{
    width: 525px;
    max-width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, transparent 79px, var(--card-background) 80px);
    margin: 5px;
    border-radius: 20px;
}
.leadership-card-container.m{
    width: 250px;
    /*flex-basis: auto;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, transparent 79px, var(--card-background) 80px);
    margin: 5px;
    border-radius: 20px;
}
.leadership-card-img-background{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50px;
    background: var(--card-background);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 60px;
    /*transition: 0.3s ease all;*/
}
.leadership-card-img{
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 100%;
    border: 5px solid var(--background);
    margin-top: 80px;
    transition: all 0.3s ease;
}
.leadership-card-img img{
    position: relative;
    object-fit: cover;
    object-position: top;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    transition: all 0.3s ease;
}
.leadership-card-img .no-link{
    display: none;
}
.leadership-card-img .card-img-top{
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    transition: all 0.3s ease;
}
.leadership-card-img .card-img-top .linkedin-logo{
    width: 60%;
    height: 60%;
}
.leadership-card-img:hover .card-img-top{
    opacity: 1;
}
.leadership-card-img:hover .officer-pic{
    transform: scale(1.05);
    filter: blur(1px) brightness(.8);
}
.leadership-card-bottom{
    /* This keeps the email buttons at the bottom of the faculty cards */
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between; /* <-- Most Important */
    height: 60%; /* <-- Second Most Important */
}
.leadership-card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.leadership-card-text .leadership-card-title h3{
    margin: 0;
    text-align: center;
    font-size: 1.05rem;
}
.leadership-card-text .leadership-card-paragraph{
    text-align: justify;
    margin: 10px;
}
.leadership-card-container.m .leadership-card-text .leadership-card-paragraph{
    text-align: center;
}
.leadership-card-text .leadership-card-paragraph p{
    margin: 0;
    font-size: 0.9rem;
}
.leadership-email-hide{
    display: none;
}
.leadership-email img{
    height: 50px;
    width: 50px;
    position: relative;
    z-index: 1;
    transition: 0.3s ease all;
    transform: scale(1.02);
}
.leadership-email{
    margin-top: -10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    background-color: transparent;
    height: 50px;
    width: 50px;
    transition: all 0.15s ease-in;
    z-index: 1;
    background-color: rgb(55, 55, 55);
}
.leadership-email:hover{
    background-color: var(--primary);
    width: 180px;
    box-shadow: 0px 0px 5px var(--text-primary);
    transform: scale(1.05);
}
.leadership-email:hover img{
    transform: scale(1.05);
}
.leadership-email-label{
    display: flex;
    align-items: center;

    width: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: width 0.1s ease-in;

    z-index: 0;
    height: 100%;
    justify-content: flex-end;
    overflow: hidden;
}
.leadership-email:hover .leadership-email-label{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.leadership-email-label a{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: white;
    text-transform: uppercase;
    padding: 0 10px;
    padding-right: 15px;
    white-space: nowrap;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.leadership-card-red{
    height: 30px;
    width: 100%;
    background-color: var(--primary);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: auto;
}

/* Expand email label on devices without hover */
@media(hover: none){
    .leadership-email{
        background-color: var(--primary);
        width: 180px;
        
    }
    .leadership-email img{
        transform: scale(1.05);
    }
    .leadership-email .leadership-email-label{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        justify-content: flex-start;
    }
}

/* Tablet */
@media only screen and (min-width: 768px){
    .leadership-card-container{
        max-width: 42vw;
    }
}