.article {
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-wrapper {
  max-width: min(95vw, 1000px);
  margin: 40px 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.article-container {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.article-container p,
.article-container ul,
.article-container li,
.article-container h1,
.article-container h2,
.article-container h3,
.article-container h4,
.article-container h5,
.article-container h6 {
  text-align: left;
  width: 100%;
  color: var(--text-primary) !important;
  /* overflow: hidden; */
  text-overflow: wrap;
}
.article-img {
  max-width: min(95vw, 600px);
  height: auto;
}
.article-title,
.article-sidebar-title {
  width: 100%;
}
.article-title h2 {
  text-align: left;
  font-size: 1.75rem;
  font-weight: 300;
  font-style: normal;
  margin-block-start: 10px;
  margin-block-end: 0.2em;
  margin-bottom: 0;
}
.article-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  margin-top: 20px;
}
.article-sidebar-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}
.article-sidebar-title h3 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
  margin-block-start: 10px;
  margin-block-end: 0.2em;
  margin-bottom: 0;
}

@media only screen and (min-width: 1200px) {
  .article-wrapper {
    flex-direction: row;
  }
  .article-sidebar {
    margin-left: 20px;
    margin-top: 80px;
  }
  .article-title h2 {
    font-size: 2rem;
  }
}
