.event-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    max-width: 95vw;
    background-color: var(--pink);
    margin: 20px 0;
    
}
.event-card-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.event-card-container .event-img img{
    width: 315px;
    max-width: 90vw;
    margin: 15px;
}
.event-card-container .event-text{
    color: black;
    margin: 15px;
    margin-top: 0;
}
.event-card-container .event-text h3{
    text-align: center;
    margin: 0;
}
.event-card-container .event-text p{
    text-align: justify;
    margin: 0;
    margin-top: 8px;
}
/* Tablet */
@media only screen and (min-width: 768px){
	.event-card{
        margin: 15px 0;
        margin-right: 30px;
        max-width: 28vw;
    }
    .event-card-container .event-img img{
        max-width: calc(28vw - 30px);
        margin: 10px
    }
    .event-card-container .event-text{
        margin: 10px;
        margin-top: 0;
    }
}
/* Desktop */
@media only screen and (min-width: 1200px){
    .event-card{
        margin: 20px 0;
        margin-right: 40px;
    }
    .event-card-container .event-img img{
        margin: 15px
    }
    .event-card-container .event-text{
        margin: 15px;
        margin-top: 0;
    }
}