:root{
  --background: white;
  --background-dark: #121212;
  --text-primary: black;
  --text-highlight: #c8102e;
  --primary: #c8102e;
  --secondary: #960C22;
  --pink: #FFA1A1;
  --teal: #00B388;
  --gold: #F6BE00;
  /*--purple: #6200EE;*/
  --purple: #83f;
  --blue: #3CA1FF;

  --url: var(--primary);

  --card-background: rgb(220,220,220);
;
}
[data-theme='dark']{
  --background: var(--background-dark);
  --text-primary: white;

  --url: var(--pink);

  --card-background: rgb(55, 55, 55);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
